.img{
    width: 1400px;
    height: 500px;
}
.container{
    display: flex;
    height: 380px;
    background-image: url(images-1.jpeg);
}
.box{
    border: 1px solid white;
    border-radius: 5%;
    width: 400px;
    height:190px;
    margin-left: 500px;
    margin-top: 15%;
    background-color: white;
}
.servis{
    text-align: center;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    text-align: center;
    letter-spacing: 0.22px;color: #292F36;
    margin-top:10%;
    margin-left: 5%;
}
.servis2{
    font-family: 'Jost';
    font-style: normal;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.90px;
    color: #4D5053;
    text-align: center;
    margin-top:10%;
    margin-right: 5%;
}
.servis1{
    font-family: 'Jost';
    font-style: normal;
    font-size: 50px;
    line-height: 33px;
    letter-spacing: 0.30px;
    color: #4D5053;
    text-align: center;
    margin-top:10%;
    margin-right: 5%;
}
.razdel{
    margin-top: 5%;
    margin-right:10%;
    display: flex;
    flex-direction: row;
}
.razdel2{
border: 1px solid white;
width: 400px;
height: 300px;
margin-left: 10%;
margin-top: 0%;
border-radius: 10%;
}
.razdel2:hover{
background-color: #F4F0EC;
}
.text{
text-align: center;
margin-top: 30%;
font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 35px;
letter-spacing: 0.5px;

color: #080909;
}
.text2{
margin-left: 5%;
font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 33px;
letter-spacing: 0.22px;
color: #4D5053;
}
.work{
background-color: #F4F0EC;
margin-left: 8%;
width: 1200px;
}
.work1{
display: flex;
flex-direction: column;
text-align: center;
}
.work2{
display: flex;
flex-direction: row;
text-align: center;
margin-left: 7%;
}
.work3{
display: flex;
flex-direction: column;
text-align: center;
margin-top: 15%;
}
.suret{
display: flex;
flex-direction: row;
margin-left: 0%;
margin-top: -15%;
}
.suret2{
display: flex;
flex-direction: row;
margin-right:65%;
margin-top: -5%;
}
.papka{
border-radius: 0% 50% 0% 150% ;
}
.papka2{
border-radius: 0% 50% 0% 150% ;
margin-left: -30%;
}
.aii{
margin-left: 2%;
margin-left: 44%;
}
.aii2{
margin-left: 15%;
}
.aii3{
margin-right: 10%;
}
.aii_2{
margin-left: 1%;
margin-top:0%;
}
.bir{
margin-top: 0%;
margin-left: 10%;
font-family: 'DM Serif Display';
font-style: normal;
font-size: 105px;
line-height: 130px;
text-align: center;
letter-spacing: 1.7px;
color: white;
}
.worksoz{
font-family: 'DM Serif Display';
font-style: normal;
font-size: 40px;
line-height: 62px;
/* identical to box height, or 133% */
text-align: center;
letter-spacing: 0.22px;
color: #292F36;
}
.worksoz2{
font-family: 'Jost';
font-style: normal;
font-size: 22px;
line-height: 33px;
text-align: center;
letter-spacing: 0.22px;
color: #4D5053;
}
.zhumys{
background-color: #F4F0EC;
margin-left: 8%;
width: 1200px;
}
.korap{
display: flex;
flex-direction: column;
border: 2px solid #292F36;
border-radius: 40px;
width: 900px;
height: 200px;
margin-left: 220px;
margin-top: 5%;
background-color: #292F36;
text-align: center;
text-decoration-color:white ;
}
.contacts{
background-color: #CDA274;
border: 1px solid #292F36;
border-radius: 10px;
width: 150px;
height: 25px;
margin: auto;
text-align: center;
font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
text-align: center;
letter-spacing: 0.22px;
color: #FFFFFF;
margin-top: -1%;
}
.contacts:hover{
background-color: white;
color: #080909;
}
.korapsoz{font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 33px;
text-align: center;
letter-spacing: 0.22px;
color: #FFFFFF;
margin-top: -1%;

}
.korapsoz2{
font-family: 'DM Serif Display';
font-style: normal;
font-size: 32px;
text-align: center;
letter-spacing: 0.22px;
color: #FFFFFF;

}
.interno{
display: flex;
flex-direction: row;
}
.inter{
display: flex;
flex-direction: column;
border: 2px solid white;
width: 400px;
margin-left: 3%;
}
.intertext{
font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 38px;
letter-spacing: 0.22px;
color: black;
}
.intertext2{
font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 33px;
letter-spacing: 0.22px;
color: #4D5053;

}